img {
    display: block;
    width: 150px;
    margin: 0 auto;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    font-family: Arial;
    margin-top: -15px;
}
p {
    color: #949393;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    margin-top: -20px;
}
.login label {
    margin-left: -172px;
}
.login {
    text-align: center;
    margin-top: 120px;
    font-family: Arial;
    font-weight: bold;
}
form input {
    width: 200px;
    padding: 10px;
}
h2 {
    color: #000000;
    font-family: 50pt Arial;
}
button {
    color: #fffefe;
    background-color: #a81818;
    border: none;
    padding: 10px 100px;
    font-family: Arial;
    cursor: pointer;
    border-radius: 8px;
}
.creat-acount {
    color: #949393;
    font-family: Arial;
    margin-top: 10px;
    font-size: 15px;
}
.login input,
.login button {
    display: block;
    margin: 10px auto;
}
footer {
    text-align: center;
    margin-top: 180px;
    font-family: Arial;
    color: #949393;
    font-family: 15px;
}
.forgot-password {
    display: block;
    margin-top: 10px;
    color: #a81818;
    text-decoration: none; 
    font-size: 14px;
    margin-left: 105px; 
}
.creat-account {
    color: #a81818;
    text-decoration: none; 
    font-size: 14px;
}
